<h1>新規投稿</h1>

<%= form_for(@article) do |f|%>
	<div>タイトル：<%= f.text_field :title %></div>
	<div>本文：<%= f.text_area :body %></div>
	<div>著者：<%= f.text_field :author %></div>

	<div><%= f.submit %></div>

<% end %>
